<nav>
  <div class="nav-wrapper">
    <a href="index" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="product">All Products</a></li>
      <li><a href="addProducts">Add Product</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </div>
</nav>