<form action="/addProduct" method="POST">
    <label for="type">Type of your product</label>
    <input type="text" name="type" id="type" placeholder="Type of your product">
    <br><br>
    <label for="year">Expiration date</label>
    <input type="number" name="year" id="year" placeholder="Expiration date">
    <br><br>
    <label for="img">Img</label>
    <input type="text" name="img" id="img" placeholder="Book img">
    <input type="submit">
</form>